# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Clay.iml
# Datasource local storage ignored files
/../../../../../../../../:\UnityProjects\Hobby\Clay\Clay\.idea\.idea.Clay\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
